---
import Counter from "../components/Counter.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  </head>
  <body class="font-sans m-0">
    <main class="p-8">
      <Counter />
      <h1 class="text-3xl font-bold">Hello, AlpineJS!</h1>
      <Counter initialCount={5} />
      <h2 class="text-2xl font-semibold">
        Use Astro to pass in server-side props
      </h2>
    </main>
  </body>
</html>
