---
interface Props {
  initialCount?: number;
}

const { initialCount = 0 } = Astro.props;
---

<div
  class="grid grid-cols-3 place-items-center text-4xl mt-8"
  x-data={`{ count: ${initialCount} }`}
>
  <button class="focus:outline:none" x-on:click="count--">-</button>
  <pre x-text="count">{ initialCount }</pre>
  <button class="focus:outline-none" x-on:click="count++">+</button>
</div>

<div class="counter-message">
  <slot />
</div>
